#header,#page-header
{
	color:white;
	text-align:center; 
	/* height:100px; */
	/* line-height:100px; */
	/* background-color: #004ead; */
	/* background-color: #336633; */
	background-color: #003366;
}
#footer {
	text-align:center;
	position:absolute;
	bottom:10px;
	border-top:1px black solid;
	/* color:transparent; */
	opacity:0.1;
	/* margin-left:auto; */
	/* margin-right:auto; */
}
#footer:hover
{
	color:black;
	opacity:1;
}
#left_div {
	float:left;
	width:10%
	height:200px;
	/* background-color:lightblue; */
	border-width:0px;
}
#right_div {
	float:left;
	width:90%
}

#left_div:hover
{
	opacity:1;
}
body
{
	background-color:darkgrey;
	/* background-color:#EBEBEB; */
}

/* .layout{ */
/* 	margin:auto; */
/* 	/1* padding:9px; *1/ */
/* } */

#submitBtn
{
	float:right;
	font-size:large;
	color:#004ead;
}


.easyui-combobox
{
	width:150px;
}

/* .layout-panel-south */
#region-south
{
	background-color:#003366;
	color:white;
}
